<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/web/CSS/User Information.css">
        <title>Candidate Profile</title>
    </head>

    <body>

        <header>
            <div class="main">
                <img class="logo" src="/web/IMG/HRSCLogo.png" alt="logo">
                <nav>
                    <ul class="nav_links">
                        <button class="navbar-toggle" onclick="toggleNavbar()"> ☰ </button>
                    </ul>
                </nav>
            </div>
            <nav>
                <li class="dropdown">
                    <!-- <a class="nav-link">Account</a> -->
                    <a class="nav-link">Candidate</a>
                    <ul class="dropdown-content">
                        <li><a href="CandidateProfile.html">Profile</a></li>
                        <li><a href="MainPage.html">Sign Out</a></li>
                    </ul>
                </li>
            </nav>
        </header>

        <div class="co">
            <div class="navbar" id="myNavbar">
                <a href="HomePage.html">Home</a>
                <a href="CandidateProfile.html">User Profile</a>
                <a href="AboutCertificate.html">About Certificate</a>
                <a href="TimeTable.html">Time Table</a>
                <a href="Feedback.html">Feedback</a>
            </div>

            <!-- <%
                //           HttpSession loginsession = request.getSession();
                String candidateID = (String) session.getAttribute("candidateID");

                if (candidateID != null) {
                    try {
                        Class.forName("com.mysql.jdbc.Driver");
                        Connection con = DriverManager.getConnection("jdbc:mysql://localhost:3306/hrsc", "root", "admin");
                        PreparedStatement ps = con.prepareStatement("SELECT * FROM candidate WHERE cand_ID = ? ");
                        ps.setString(1, candidateID);
                        ResultSet rs = ps.executeQuery();

                        if (rs.next()) {
                            String ID = rs.getString("cand_ID");
                            String IC = rs.getString("cand_IC");
                            String Name = rs.getString("cand_Name");
                            String Email = rs.getString("cand_Email");
                            String Password = rs.getString("cand_Pass");
                            String Phone = rs.getString("cand_Phone");
                            String Address = rs.getString("cand_Add");
            %> -->

            <div class="container">
                <div class="title">
                    <h1>User Profile</h1>
                    <h3 name="name"> Name : <%= Name%></h3>
                    <h3 name="ic"> IC Number : <%= IC%></h3>
                    <h3 name="email"> Email : <%= Email%></h3>
                    <h3 name="password"> Password : <%= Password%></h3>
                    <h3 name="phone"> Phone : <%= Phone%></h3>
                    <h3 name="address"> Address : <%= Address%></h3>
                </div>
                <a href="#">
                    <button class="profile-update-button">EDIT</button>
                </a> 
            </div>
        </div>

        <!-- <%
                    } else {
                        out.println("Customer not found.");
                    }

                    rs.close();
                    ps.close();
                    con.close();
                } catch (Exception e) {
                    out.println("Error: " + e);
                }
            } else {
                // If the session doesn't exist or customerID is not set, redirect to the login page
                response.sendRedirect("Login.jsp");
            }
        %> -->


        <footer>
            <p>© HR SkillCertify 2023</p>
        </footer>

        <script>
            function toggleNavbar() {
                var navbar = document.querySelector('.navbar');
                navbar.classList.toggle('minimized');
            }
        </script>

    </body>

</html>
