<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/web/CSS/User Information.css">
        <title>Candidate Profile</title>
    </head>

    <body>

        <header>
            <div class="main">
                <img class="logo" src="/web/IMG/HRSCLogo.png" alt="logo">
                <nav>
                    <ul class="nav_links">
                        <button class="navbar-toggle" onclick="toggleNavbar()"> ☰ </button>
                    </ul>
                </nav>
            </div>
            <nav>
                <li class="dropdown">
                    <a class="nav-link">Candidate</a>
                    <ul class="dropdown-content">
                        <li><a href="CandidateProfile.html">Profile</a></li>
                        <li><a href="MainPage.html" onclick="signOut()">Sign Out</a></li>
                    </ul>
                </li>
            </nav>
        </header>

        <div class="co">
            <div class="navbar">
                <a href="HomePage.html">Home</a>
                <a href="CandidateProfile.html">User Profile</a>
                <a href="AboutCertificate.html">About Certificate</a>
                <a href="TimeTable.html">Time Table</a>
                <a href="Feedback.html">Feedback</a>
            </div>

            <div class="container">
                <div class="title">
                    <h1>User Profile</h1>
                    <h3 name="name"> Name : <%= Name%></h3>
                    <h3 name="ic"> IC : <%= IC%></h3>
                    <h3 name="email"> Email : <%= Email%></h3>
                    <h3 name="phone"> Phone : <%= Phone%></h3>
                    <h3 name="address"> Address : <%= Address%></h3>
                </div>

                <a href="EditCandidate.html?id=<%= ID%>">
                    <button class="profile-update-button">EDIT</button>
                </a> 
            </div>
        </div>

        <footer>
            <p>© HR SkillCertify 2023</p>
        </footer>

        <script>
            function toggleNavbar() {
                var navbar = document.querySelector('.navbar');
                navbar.classList.toggle('minimized');
            }
            
            function signOut() {
            // Redirect to the logout servlet or your logout logic
            window.location.href = 'LogOutServ'; // Replace 'LogoutServlet' with your actual logout servlet
        }
        </script>

    </body>

</html>
